/* 획득한 뱃지을 알려주는 팝업 효과 */
@keyframes float {
  100% {
    transform: translateY(100px) translateX(0) rotateY(0deg);
    opacity: 0;
  }
  80% {
    transform: translateY(60px) translateX(10px) rotateY(1deg);
    opacity: 0.5;
  }
  60% {
    transform: translateY(20px) translateX(0px) rotateY(0deg);
    opacity: 0.5;
  }
  40% {
    transform: translateY(-20px) translateX(10px) rotateY(1deg);
    opacity: 0.5;
  }
  20% {
    transform: translateY(-60px) translateX(0px) rotateY(0deg);
    opacity: 0.5;
  }
  0% {
    transform: translateY(-100px) translate(10px) rotateY(1deg); /* 좌우 움직임 범위를 조정할 수 있습니다 */
    opacity: 1;
  }
}

.animate-float {
  animation-name: float;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
